{# SPDX-License-Identifier: Apache-2.0 #}
{
    "id": "{{ msp_id }}",
    "admin": {
        "identity": "{{ admin }}",
        "secret": "{{ admin }}secret"
    },
    "ibp":{
        "display_name": "{{msp_id}}"
    }
}